<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=h, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="create-user.css" />
  </head>
  <body>
    <div id="create">
      <h1>CREATE-USER!!</h1>
      <form>
        <label for="bookname">Username</label><br />
        <input type="text" name="book-name" id="book-name" /><br />

        <div class="create-user">
          <input id="button-submit" type="submit" value="Sign up!" />
        </div>
      </form>
    </div>
  </body>
</html>
