<!-- Page for "logged-in" user, lists all users -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Books - Home</title>
  </head>
  <body>
    <div>
      <h1>Our Books - Home</h1>
      <div>
        <h2>Users:</h2>
        <ul>
          <li>
            <a href="user.html">User A</a>
          </li>
          <li>
            <a href="user.html">User B</a>
          </li>
          <li>
            <a href="user.html">User C</a>
          </li>
          <li>
            <a href="user.html">User D</a>
          </li>
        </ul>
        <p>
          <button><a href="create-user.html">Create User</a></button>
        </p>
      </div>
    </div>
  </body>
</html>
